
<!-- Partial for creating and editing profiles -->

<form class='profile' action="<%= profile.persisted? ? profile_url(profile) : profiles_url %>"
  method="POST">

  <input name="_method" type="hidden"
  value="<%= profile.persisted? ? "PUT" : "POST"%>">

  <%= render 'helpers/auth_token'%>

  <input type="hidden" name="profile[owner_id]"
  value="<%= current_user.id %>">

  <div class='profile-page-body'>
    <%= render 'profiles/info/name', :profile => profile %>
    <%= render 'profiles/info/birthdate', :profile => profile %>
    <%= render 'profiles/info/gender', :profile => profile %>
    <%= render 'profiles/info/employment', :profile => profile %>
    <%= render 'profiles/info/geography', :profile => profile %>
    <%= render 'profiles/info/relationships', :profile => profile %>
    <%= render 'profiles/info/profile_picture', :profile => profile %>
    <%= render 'profiles/info/about_me', :profile => profile %>
  </div>

  <input type="submit" class='link submit-link'
  value="<%= profile.persisted? ? 'Edit my profile!' : 'Create my profile!'%>">
</form>


