<link rel="stylesheet" href="../../assets/stylesheets/application.css" type="text/css" media="screen" title="no title" charset="utf-8">
<!-- Partial for creating and editing profiles -->

<form class='profile' action="<%= profile.persisted? ? profile_url(profile) : profiles_url %>"
  method="POST">

  <input name="_method" type="hidden"
  value="<%= profile.persisted? ? "PUT" : "POST"%>">

  <%= render 'helpers/auth_token'%>

  <input type="hidden" name="profile[owner_id]"
  value="<%= current_user.id %>">


  <div class='text heading'>Name</div>
  <div class='names group'>

    <div class='first-name'>
      <div class='text'>
        First Name
      </div>
      <div class='input'>
        <input type='text' name="profile[first_name]" value="<%= profile.first_name %>">
      </div>
    </div>

    <div class='last-name'>
      <div class='text'>Last Name</div>
      <div class='input text'>
        <input name="profile[last_name]" value="<%= profile.last_name%>">
      </div>
    </div>

  </div>


  <div class='birthdate'>
    <div class='text heading'>Birthdate</div>

    <div class='dates group'>
      <div class='month'>
        <div class='text'>Month</div>
        <select name="profile[birth_month]">
          <option value="">
          <% ["January", "February", "March", "April",
          "May","June","July","August",
          "September","October","November","December"].each do |month| %>
          <option value="<%= month %>" <%= 'selected' if month == profile.birth_month %>> <%= month %>
            <% end %>
        </select>
      </div>


      <div class='day'>
        <div class='text'>Day</div>
        <select name="profile[birth_day]">
          <option value="">
          <% (1..31).each do |day| %>

            <option value="<%= day.to_s %>"
              <%= 'selected' if day == profile.birth_day %>> <%= day %>
              <% end %>
        </select>
      </div>

      <div class='year'>

        <div class='text'>Year</div>
        <select name="profile[birth_year]">
          <option value="">
          <% (2001.downto(1910)).each do |year| %>

            <option value="<%= year.to_s %>"
              <%= 'selected' if year == profile.birth_year%>> <%= year %>
              <% end %>
        </select>
      </div>
    </div>
  </div>

<div class='gender'>
  <div class='text heading'>Gender</div>
  <select name="profile[gender]">
    <option value="">
    <% ["Female", "Male", "Other"].each do |gender| %>
    <option value="<%= gender %>" <%= 'selected' if gender == profile.gender%>> <%= gender %>
    <% end%>
  </select>
</div>

<div class='employment group'>
  <div class='text heading'>Employment Info</div>
  <div class='job'>
    <div class='text'>Job</div>
    <input name="profile[job]" value="<%= profile.job %>">
  </div>
  <div class='employer'>
   <div class='text'>Employer</div>
  <input name="profile[employer]" value="<%= profile.employer %>">
  </div>
</div>

</div>

<div class='geography group'>
  <div class='text heading'>Geography</div>
  <div class='current-city'>
    <div class='text'>Current City</div>
    <input name="profile[current_city]" value="<%= profile.current_city%>">
  </div>


  <div class='home-city'>

    <div class='text'>Home City</div>
    <input name="profile[home_city]" value="<%= profile.home_city%>">

  </div>
</div>

<div class='relationships group'>
  <div class='text heading'>Relationships</div>

  <div class='relationship-status'>
    <div class='text'>Relationship Status</div>
    <select name="profile[relationship_status]">
      <option value="">
        <% ["Single", "In a Relationship", "Engaged", "Married",
        "Divorced", "Widowed", "Other"].each do |status| %>
          <option value="<%= status %>" <%= 'selected' if status == profile.relationship_status %>> <%= status %>
        <% end%>
    </select>
  </div>

  <div class='interested-in'>
    <div class='text'>Interested In</div>
    <select name="profile[interested_in]">
      <option value="">
      <% ["Women", "Men", "Men and Women", "Other"].each do |gender| %>
      <option value="<%= gender %>" <%= 'selected' if gender == profile.interested_in%>> <%= gender %>
      <% end%>
    </select>
  </div>

</div>

<div class='profile-picture'>
  <div class='text heading'>Profile Picture</div>
  <div class='url'>
    <div class='text'>URL</div>
    <input name="profile[photo_url]" value="<%= profile.photo_url %>">
  </div>
</div>

<div class='about-me'>
  <div class='text heading'>About me</div>
  <textarea name="profile[about_me]"><%= profile.about_me %></textarea>
</div>

<input type="submit" class='link submit-link' value=
"<%= profile.persisted? ? 'Edit my profile!' : 'Create my profile!'%>">

</div>