<!-- New Profile -->

<form action="profiles_url" method="POST">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <p>
    <h3>Name</h3>
  <label>
    First Name
    <input name="user[first_name]" value="">
  </label>

  <label>
    Last Name
    <input name="user[last_name]" value="">
  </label>
  </p>

  <p>
    <h3>Birthdate</h3>
    Month
  <select name="user[birth_month]">
    <% ["January", "February", "March", "April",
    "May","June","July","August",
    "September","October","November","December"].each do |month| %>
    <option value="<%= month %>"> <%= month%>
<% end %>
  </select>


  Day
  <select name="user[birth_day]">
    <% (1..31).each do |day| %>

      <option value="<%= day.to_s %>"> <%= day %>
        <% end %>
  </select>

  Year
  <select name="user[birth_day]">
    <% (2001.downto(1910)).each do |year| %>

      <option value="<%= year.to_s %>"> <%= year %>
        <% end %>
  </select>
</p>

<p>
  <h3>Gender</h3>
  <select name="user[gender]">
    <% ["Female", "Male", "Other"].each do |gender| %>
    <option value="<%= gender %>"> <%= gender %>
    <% end%>
  </select>
</p>

<p>
  <h3>Employment Info</h3>
  <label>
    Job
    <input name="user[job]">
  </label>

  <label>
    Employer
    <input name="user[employer]">
  </label>
</p>

<p>
  <h3>Geography</h3>
  <label>
    Current City
    <input name="user[current_city]">
  </label>

  <label>
    Home City
    <input name="user[home_city]">
  </label>
</p>

<p>
  <h3>Relationships</h3>

  <label>
    Relationship Status
    <input name="user[relationship_status]">
  </label>

  <label>
    Interested In
    <select name="user[interested_in]">
      <% ["Women", "Men", "Men and Women", "Other"].each do |gender| %>
      <option value="<%= gender %>"> <%= gender %>
      <% end%>
    </select>
  </label>
</p>
</form>