<!-- Shows Profile (user info) -->
<% if (current_user == @user) %>
  <%= render "/helpers/you", :user => @user %>
<% else %>
  <%= render "/helpers/friend", :user => @user %>
<% end %>

<div class='profile-show'>
  <%= render 'profiles/show_info/name_date_gender',
  :profile => @profile %>

  <%= render 'profiles/show_info/job_employer',
  :profile => @profile %>

  <%= render 'profiles/show_info/city',
  :profile => @profile %>

  <%= render 'profiles/show-info/relationships',
  :profile => @profile %>

  <%= render 'profiles/show_info/about_me',
  :profile => @profile %>
</div>


