<% if (post.class.to_s == "Comment") %>
  <% action= <%= new_comment_url(post) %>
<% elsif (post.class.to_s == "Status") %>
  <% action = <%= new_status_url(post)
<% end %>

<% post.replies.each do |reply| %>
  <%= reply.author.name %>
  <%= reply.text %>

  <form action="<%= action %>" method="">

  </form>

<% end %>