<!-- New or Edit Comment -->

<form action="<%= comment.persisted? ? comment_url(comment) : comments_url %>"
  method="POST">

  <input name="_method" type="hidden"
  value="<%= comment.persisted? ? "PUT" : "POST"%>">

  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <input type="hidden" name="comment[author_id]" value="<%= current_user.id %>">
  <input type="hidden" name="comment[recipient_id]" value="<%= user.id %>">

  <div class='textarea'>
    Write Comment
    <textarea name="comment[text]"><%= comment.text %></textarea>
  </div>

  <div class='submit'>
    <input type="submit" value="Submit">
  </div>
</form>