<!-- New or Edit Comment -->

<form action="<%= comment.persisted? ? comment_url(comment) : comments_url %>"
  method="POST" data-remote='true'>

  <input name="_method" type="hidden"
  value="<%= comment.persisted? ? "PUT" : "POST"%>">

  <%= render 'helpers/auth_token'%>

  <input type="hidden" name="comment[author_id]" value="<%= current_user.id %>">
  <input type="hidden" name="comment[recipient_id]" value="<%= user.id %>">


  <div class='textarea'>
    <textarea name="comment[text]"><%= comment.text %></textarea>
  </div>


  <div class='submit link submit-link'>
    <input type="submit" value="Submit">
  </div>
</form>