<!-- Comment show -->

<div class='comment'>
  <%= comment.author.name %>
  <%= comment.text %>
  <%= render 'likes/like', :post => comment %>
</div>

<% if current_user == comment.author %>
<div class='link'>
  <%= link_to "Edit comment", edit_comment_url(comment) %>
</div>

<div class='link'>
  <%= button_to "Remove comment", comment_url(comment), method: :delete %>
</div>
<% end %>

