<!-- Comment show -->

<div class='comment group'>
  <%= render 'helpers/pic_and_name', :user => comment.author %>
  <div class='text'><%= comment.text %></div>

  <%= render 'likes/like', :post => comment %>


  <% if current_user == comment.author %>
    <div class='links'>
      <% if comment.class.to_s == "PhotoComment"%>
        <div class='link submit-link'>
          <%= link_to "Edit Comment", edit_photo_comment_url(comment) %>
        </div>
      <% elsif comment.class.to_s == "Comment" %>
        <div class='link submit-link'>
          <%= link_to "Edit Comment", edit_comment_url(comment) %>
        </div>

        <div class='link submit-link'>
          <%= link_to "Delete Comment", comment_url(comment), method: :delete %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
