<!-- Comment show -->

<div class='comment'>
  <%= comment.author.name %>
  <%= comment.text %>
  <%= render 'likes/like', :post => comment %>
</div>

<% if current_user == comment.author %>
  <div class='link'>
    <% if comment.class.to_s == "PhotoComment"%>
      <%= link_to "Edit Comment", edit_photo_comment_url(comment) %>
    <% elsif comment.class.to_s == "Comment" %>
      <%= link_to "Edit Comment", edit_comment_url(comment) %>
    <% end %>
  </div>

  <div class='link'>
    <% if comment.class.to_s == "Comment"%>
      <%= button_to "Remove Comment", comment_url(comment), method: :delete %>
    <% end %>
  </div>
<% end %>

