<!-- new or edit status -->

<form action="<%= status.persisted? ? status_url(status) : statuses_url %>"
  method="POST">

  <input name="_method" type="hidden"
  value="<%= status.persisted? ? "PUT" : "POST"%>">

  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <input type="hidden" name="status[author_id]" value="<%= current_user.id %>">

  <div class='text'>
    What's On Your Mind?
  </div>

  <div class='textarea'>
    <textarea name="status[text]"><%= status.text %></textarea>
  </div>

  <div class='submit'>
    <input type="submit" value="Submit">
  </div>
</form>