<!-- new or edit status -->

<form action="<%= status.persisted? ? status_url(status) : statuses_url %>"
  method="POST" data-remote="true">

  <input name="_method" type="hidden"
  value="<%= status.persisted? ? "PUT" : "POST"%>">

  <%= render 'helpers/auth_token'%>

  <input type="hidden" name="status[author_id]" value="<%= current_user.id %>">

  <div class='textarea'>
    <textarea name="status[text]"><%= status.text %></textarea>
  </div>

  <div class='submit link submit-link'>
    <input type="submit" value="<%= status.persisted? ? 'Update Status' : 'Create Status' %>">
  </div>
</form>