<!-- Status show -->

<div class='status group'>
  <%= render 'helpers/pic_and_name', :user => status.author %>

  <div class='text'><%= status.text %></div>

  <div class='links group'>
    <div class='text'>
      <%= status.updated_at.to_date.to_formatted_s(:long)%>
    </div>
    <%= render 'likes/like', :post => status, :user => status.author %>

    <% if (current_user == status.author) %>
      <div class='link submit-link'>
        <%= link_to "Edit Status", edit_status_url(status) %>
      </div>

      <div class='link submit-link'>
        <%= link_to "Delete Status", status_url(status), method: :delete %>
      </div>
    <% end %>
  </div>
</div>