<!-- status index -->
<% if (current_user == @user) %>
<%= render "/helpers/you", :user => @user %>
<% elsif (current_user.all_friends.include?(@user))  %>
<%= render "/helpers/friend", :user => @user %>
<% else %>
<%= render "/helpers/not_friend", :user => @user %>
<% end %>

<% unless (current_user.friends.include?(@user) == false)%>
  <% if (@user == current_user)%>
  <%= link_to "Create new status", new_status_url %>
  <% else %>
  <%= link_to "Create new comment", new_user_comment_url(@user) %>
  <% end %>

  <% @statuses.each do |status| %>
  <div class="statuses">
  <%= render "show", :status => status,
  :user => @user %>
  <%= render "replies/all", :post => status %>
  </div>
  <% end %>

  <% @comments.each do |comment| %>
  <div class="comments">
  <%= render "comments/show", :comment => comment, :user => @user %>
  <%= render "replies/all", :post => comment %>
  </div>
  <% end %>
<% end %>