<!-- one message thread -->
<% user = message_thread.creator %>

<div class='message-header'>
  <div class='link title'>
    <%= link_to message_thread.title,   message_thread_messages_url(message_thread) %>
  </div>

  <div class='photo'>
    <%= user.photo %>
  </div>

  <% num_recipients = message_thread.num_recipients %>

  <div class='text'>
    <% if (user == current_user) %>
        You and <%= num_recipients %> others
    <% elsif (num_recipients > 1) %>
        You,
        <%= link_to user.name, user_statuses_url(user)%>,
        and
        <%= num_recipients - 1 %> others
    <% else %>
      You and <%= link_to user.name,
      user_statuses_url(message_thread.creator) %>
    <% end %>
  </div>
</div>

<div class='link submit-link delete'>
  <%= link_to "Delete", message_thread_url(message_thread), method: :delete %>
</div>


