<!-- new message thread form -->

<form class='new-message' action="<%= message_threads_url %>" method="POST">
  <%= render 'helpers/auth_token'%>

  <input type="hidden" name="message_thread[creator_id]"
  value="<%= current_user.id %>">

  <%= render 'message_threads/new/title' %>

  <% if @current_friend == nil %>
    <%= render 'message_threads/new/recipients'%>
  <% else %>
    <input type='hidden' name="message_thread[recipient_ids][]"
    value="<%= @current_friend.id %>">
  <% end %>

  <input type="hidden" name="message[author_id]" value="<%= current_user.id %>">
  <input type="hidden" name="message[message_thread_id]" value="<%= nil %>">

  <%= render 'message_threads/new/message'%>

  <div class='submit link submit-link'>
    <input type="submit" value="Submit">
  </div>
</form>