<!-- new message thread form -->

<form action="<%= message_threads_url %>" method="POST">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <input type="hidden" name="message_thread[creator_id]"
  value="<%= current_user.id %>">

  <p>
    <label>

      <div class='input'>
        Thread Title:
        <input name="message_thread[title]">
      </div>
    </label>
  </p>

  <p>
    Recipients:
    <% current_user.all_friends.each do |friend| %>
      <!-- should refactor using searching -->
      <div class='checkbox'>
        <input type="checkbox" name="message_thread[recipient_ids][]"
        value="<%= friend.id %>">
        <%= friend.name %>
      </div>

    <% end %>
  </p>
  <input type="hidden" name="message[author_id]" value="<%= current_user.id %>">

  </p>
    Message:
    <textarea name="message[text]"></textarea>
  </p>
  <input type="submit" value="Submit">
</form>