<!-- new message thread form -->

<form action="<%= message_threads_url %>" method="POST">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <input type="hidden" name="message_thread[creator_id]"
  value="<%= current_user.id %>">


  <label>
    <div class='input'>
      Thread Title:
      <input name="message_thread[title]">
    </div>
  </label>

  <% if @current_friend == nil %>
    <div class='text'>
      Recipients:
    </div>

   <%= render 'helpers/friends_checkbox', :name => "message_thread[recipient_ids][]",
   :friends => current_user.all_friends %>

  <% else %>
    <input type='hidden' name="message_thread[recipient_ids][]"
    value="<%= @current_friend.id %>">
  <% end %>

  <input type="hidden" name="message[author_id]" value="<%= current_user.id %>">
  <input type="hidden" name="message[message_thread_id]" value="<%= nil %>">

  <div class="text">
    Message:
  </div>

  <div class='textarea'>
    <textarea name="message[text]"></textarea>
  </div>

  <div class='submit'>
    <input type="submit" value="Submit">
  </div>
</form>