<img src="<%= user.profile.photo_url %>">
<%= user.name %>

<form action="<%= friendships_url %>" method="POST">
  <input type="hidden" name="pending_friendship[user_id]"
  value="<%= pending_friendship.user_id %>">
  <input type="hidden" name="pending_friendship[pending_friend_id]"
  value="<%= pending_friendship.pending_friend_id %>">
  <input type="submit" value="Accept Request">
</form>

<%= button_to "Reject Request",
pending_friendship_url(pending_friendship), :method => :delete %>