<% unless like.liker == current_user %>
    <%= link_to like.liker.name %>
  likes

  <% if like.post_type == 'Status'%>
    your <%= link_to 'status' %>:
  <% elsif like.post_type == 'Comment' %>
    <% if like.post.author == current_user %>
      your <%= link_to 'comment' %>:
    <% else %>
      <%= like.post.author.name %>'s <%= link_to 'comment'%>:
    <% end %>
  <% elsif like.post_type == 'PhotoComment'%>
    your <%= link_to 'photo'%>:
  <% end %>

  <div class='notification-body'>
    <%= like.post.text %>
  </div>
<% end %>