<% unless reply.author == current_user %>
  <%= link_to reply.author.name %> replied to

  <% if reply.parent.author == current_user %>
    your
  <% else %>
    <%= link_to reply.parent.author.name, user_statuses_url(reply.parent.author) %>'s
  <% end %>

  <% if reply.parent_type == "Status" %>
    status:
  <% elsif reply.parent_type == "Comment"%>
    comment:
  <% elsif reply.parent_type == "PhotoComment" %>
    <%= link_to "photo", photo_url(reply.parent.photo)%>:
  <% end %>

  <div class='notification-body'>
    <%= reply.parent.text %>
  </div>

  <div class='notification-photo'>
    <%= reply.author.photo %>
  </div>
<% end %>