<!-- notifications -->

<div class='notifications'>
  <% notifications = current_user.recent_activities %>


  <% notifications.each do |notification| %>
    <% notification_class = notification.class.to_s %>

    <% unless ((notification_class == 'Like' && notification.liker == current_user) || (notification_class == 'Reply' && notification.author == current_user))%>
      <div class='notification'>

        <div class='text'>
          <%= notification.created_at.to_date.to_formatted_s(:long)%>
        </div>

        <!-- quick fix for the one time we don't actually want a notification -->

        <% if notification_class == 'Like' %>
          <%= render 'notifications/like', :like => notification %>
        <% elsif notification_class == 'Comment'%>
          <%= render 'notifications/comment', :comment => notification %>
        <% elsif notification_class == 'Reply'%>
          <%= render 'notifications/reply', :reply => notification %>
        <% elsif notification_class == 'Photo'%>
          <%= render 'notifications/photo', :photo => notification %>
        <% elsif notification_class == 'Friendship'%>
          <%= render 'notifications/friendship', :friendship => notification %>
        <% end %>
      </div>
    <% end %>
  <% end %>

</div>