<!-- Likes Index -->

<%= post.num_likes %> likes

<% if post.class.to_s == "Status" %>
<% posts_liked = current_user.statuses_liked %>
<% elsif post.class.to_s == "Comment"%>
<% posts_liked = current_user.comments_liked %>
<% elsif post.class.to_s == "Reply"%>
<% posts_liked = current_user.replies_liked %>
<% end %>

<% unless posts_liked.include?(post) %>
  <form action="<%= status_likes_url(post.id) %>" method="POST">
    <input
       name="authenticity_token"
       type="hidden"
       value="<%= form_authenticity_token %>">

    <input type="hidden" name="like[liker_id]" value="<%= current_user.id %>">
    <input type="hidden" name="like[post_id]" value="<%= post.id %>">
    <input type="hidden" name="like[post_type]" value="<%= post.class.to_s %>">

    <input type="submit" value="Like">
  </form>
<% else %>
  <%= button_to "Unlike",
  status_like_url(post, Like.find_by_liker_and_post(current_user, post)),
  method: :delete %>
<% end %>
