<img src="<%= user.profile.photo_url %>"></img>

<section>
  <%= user.name %>
  <%= user.email %>
</section>

<section>
  <button >Timeline</button>
  <%= button_to "About", profile_url(user.profile), method: :get %>
  <button >Photos</button>
  <%= button_to "Friends", user_friendships_url(user) %>
  <button >Message</button>
  <%= button_to "Unfriend",
  friendships_url(current_user.friendship_with(user)), method: :delete %>
</section>