<%= render 'helpers/pic_and_name', :user => user%>
<%= user.email %>


<section>
  <ul class="links">
    <li>
      <%= link_to "Timeline", user_statuses_url(user) %>
    </li>
    <li>
      <%= link_to "About", user_profile_url(user, user.profile) %>
    </li>
    <li>
      <%= link_to "Photos", user_photos_url(user) %>
    </li>
    <li>
      <%= link_to "Friends", user_friendships_url(user) %>
    </li>
    <li>
      <%= link_to "Message", new_user_message_thread_url(user) %>
    </li>
    <li>
      <%= button_to "Unfriend",
      friendship_url(current_user.friendship_with(user).id), method: :delete %>
    </li>
</section>