<img src="<%= user.profile.photo_url %>"></img>

<section>
  <%= user.name %>
  <%= user.email %>
</section>

<section>
  <%= button_to "Timeline", user_statuses_url(user), method: :get %>
  <%= button_to "About", user_profile_url(user, user.profile), method: :get %>
  <button >Photos</button>
  <%= button_to "Friends", user_friendships_url(user), method: :get %>
  <button >Message</button>
  <%= button_to "Unfriend",
  friendships_url(current_user.friendship_with(user)), method: :delete %>
</section>