<%= user.photo %>

<div class="link">
  <%= link_to user.name, user_statuses_url(user) %>
</div>

<section>
  <form action="<%= pending_friendships_url %>" method="POST">
    <input
       name="authenticity_token"
       type="hidden"
       value="<%= form_authenticity_token %>">


    <input type="hidden" name="pending_friendship[user_id]"
    value="<%= current_user.id %>">
    <input type="hidden" name="pending_friendship[pending_friend_id]"
    value="<%= user.id %>">

    <div class="submit">
      <input type="submit" value="Add Friend">
    </div>
  </form>

  <div class="link">
    <%= link_to "Mutual Friends", user_mutual_friends_url(user) %>
  </div>
</section>