<section class='top-bar group'>
  <div class="pic-and-name">
    <div class="pic">
    <img src="<%= current_user.profile.photo_url %>" width='200' height='200'></img>
    </div>

    <div class='name'>
      <%= current_user.name %>
    </div>
  </div>

  <ul class='links'>
    <li><%= link_to "My Page", user_statuses_url(current_user) %></li>
    <li><%= link_to "Friend Requests", pending_friendships_url %></li>
    <li><%= link_to "Friends", user_friendships_url(current_user)%></li>
    <li><%= link_to "Photos", user_photos_url(current_user)%></li>
    <li><%= link_to "Messages", message_threads_url %></li>
    <li><%= link_to "Sign Out", session_url, method: :delete %></li>
  </ul>
</section>
