<section class='top-bar'>
  <%= current_user.name %>

  <%= link_to "Friend Requests", pending_friendships_url %>
  <%= link_to "Messages", message_threads_url %>
  <button>Notifications</button>
  <%= link_to "My Page", user_url(current_user) %>
  <%= button_to "Sign Out", session_url, method: :delete %>
  Search:
  <input>
</section>
