Tag More People!
<% @photo.untagged_friends(current_user).each do |user| %>
  <%= link_to user.name, user_statuses_url(user)%>

  <form action="<%= photo_taggings_url %>" method="POST">
    <%= render 'helpers/auth_token'%>

    <input type="hidden" name="photo_tagging[photo_id]"
    value="<%= @photo.id %>">

    <input type="hidden" name="photo_tagging[user_id]"
    value="<%= user.id %>">

    <input type="submit" value="Tag">
  </form>
<% end %>