<div class='untagged-friend group'>
  <%= render 'helpers/just_name', :user => user %>

  <form action="<%= photo_taggings_url %>" method="POST" data-remote="true">
    <%= render 'helpers/auth_token'%>
    <input type="hidden" name="photo_tagging[photo_id]"
    value="<%= photo.id %>">
    <input type="hidden" name="photo_tagging[user_id]"
    value="<%= user.id %>">

    <div class='link submit-link' data-remote='true'>
      <input type="submit" value="Tag">
    </div>
  </form>

</div>