<form class='new-photo' action="<%= photos_url %>" method="POST">
  <%= render 'helpers/auth_token'%>

  <input type="hidden" name="photo[uploader_id]"
  value="<%= current_user.id %>">

  <%= render 'photos/photos_top_bar', :user => current_user %>
  <%= render 'photos/new/url'%>
  <%= render 'photos/new/comment'%>
  <%= render 'photos/new/tagged_friends'%>

  <div class='link submit-link'>
    <input type="submit" value="Submit Photo">
  </div>

  <div class='demo demo-photo-form link submit-link'>
    <a data-remote='true'>Demo Photo</a>
  </div>
</form>


