<div class='photo-show group'>
  <%= render 'photo', :photo => @photo %>

  <% if current_user == @photo.uploader %>
    <div class='links'>
      <%= render 'remove_photo', :photo => @photo %>
      <%= render 'make_profile_pic', :photo => @photo %>
    </div>
  <% end %>
</div>

<%= render 'people_tagged', :photo => @photo %>

<% if @photo.photo_comment %>
  <div class='photo-comment group'>
    <%= render "comments/show", :comment => @photo.photo_comment %>
    <%= render "replies/all", :post => @photo.photo_comment %>
  </div>
<% end %>

<% if (current_user == @photo.uploader) %>
  <%= render 'tag_more_people', :photo => @photo %>
<% end %>

