
<div class='photo'>
  <img src="<%= @photo.url %>" width="120" height="120">
</div>

<% if current_user == @photo.uploader %>
  <%= button_to "Remove Photo", photo_url(@photo), method: :delete %>
<% end %>

<%= render 'make_profile_pic', :photo => @photo %>

<% @photo.tagged_users.each do |user| %>
  <%= link_to user.name, user_statuses_url(user)%>
  <% if (current_user == @photo.uploader) || (current_user == user)%>
    <%= button_to "Untag" %>
  <% end %>
<% end %>

<% if @photo.photo_comment %>
  <%= render "comments/show", :comment => @photo.photo_comment %>
  <%= render "replies/all", :post => @photo.photo_comment %>
<% end %>