<% if @user == current_user %>
  <%= render 'helpers/you', :user => current_user %>
<% else %>
  <%= render 'helpers/friend', :user => @user %>
<% end %>

<%= render 'photos_top_bar', :user => @user %>

<div class='tag-demo'>
  <% if @user.photos_tagged_in.count == 0 %>
    <div class='no-tagged-photos text heading'>No Tagged Photos</div>

    <% if current_user.name == "Jeff Doe"%>
    <div class='demo-photos demo link submit-link'>
      <%= link_to "Demo Photos", demo_photos_url, method: :post, remote: true %>
    </div>
    <% end %>
  <% end %>
</div>


<div class='tagged-photos group'>
  <% @user.photos_tagged_in.each do |photo| %>
    <%= render 'photos/photo', :photo => photo %>
  <% end %>
</div>

