<!DOCTYPE html>
<html>
<head>
  <title>FacebookClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if (signed_in? && current_user.profile)%>
      <%= render 'helpers/top_bar'%>
  <% elsif !signed_in? %>
    <div class='buttons group'>
      <div class='link submit-link'>
        <%= link_to "Sign In", new_session_url %>
      </div>

      <div class='link submit-link'>
        <%= link_to "Sign Up", new_user_url %>
      </div>
    </div>
  <% end %>

<%= yield %>

</body>
</html>
